h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Arial, Times, serif;
}

h1, h3, h5 {
  text-align: center;
  text-shadow: 1px 1px 1px #ccc;
  color: yellow;
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/1b/82/f0/1b82f0a9dd19c433733ad0e9935974ef.gif);
  background-size:contain;
}
